@model IEnumerable<WorkPackage>;
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Holi</p>

@{
    foreach (WorkPackage p in Model)
    {

        <p>KsoftProject:@p.Subject</p>
        <p>Type:@p._Links.Type.Tipo</p>
        <p>Id:@p.Id</p>
        <p>Status:@p._Links.Status.Estado</p>
        <p>Estimated Time:@p.EstimatedTime</p>
        <p>Spent Time:@p.RemainingTime</p>
        <p>Start Date:@p.StartDate</p>
        <p>Due Date:@p.DueDate</p>
        <p>Assignee:@p._Links.Assignee.Name</p>
    }

}