@inject AppRetoKirolBet.Services.KirolBetServices KirolBetServices
@*@model IEnumerable<User>;*@
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="Activate">
@{
    List<WorkPackage> workPackages = KirolBetServices.GetWorkPackagesDB();
    <div>
        <h1>KSOFT PROJECT</h1>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>KSOFT PROJECTS</th>
                    <th>Project Activado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WorkPackage workP in workPackages)
                 {
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.DisplayFor(modelItem => workP.Subject)
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="checkbox" name="election" value="Activado" />
                            </div>
                        </td>
                    </tr>
                 }
            <tbody/>
        </table>
        <div class="form-group">
            <input type="submit" value="Save" id="SaveChanges" />
        </div>
    </div>       
}
</form>
       




