@model KSProject.Models.Calendario

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Calendario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lunes" class="control-label"></label>
                <input asp-for="Lunes" class="form-control" />
                <span asp-validation-for="Lunes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Martes" class="control-label"></label>
                <input asp-for="Martes" class="form-control" />
                <span asp-validation-for="Martes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miercoles" class="control-label"></label>
                <input asp-for="Miercoles" class="form-control" />
                <span asp-validation-for="Miercoles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jueves" class="control-label"></label>
                <input asp-for="Jueves" class="form-control" />
                <span asp-validation-for="Jueves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Viernes" class="control-label"></label>
                <input asp-for="Viernes" class="form-control" />
                <span asp-validation-for="Viernes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
